@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

$color-base-0: #5F5F5F;
$color-breadcrumb-active: #90999c;
$color-icons: #B0B0B0;
$color-default: #22BAA0;

.np {padding: 0;}
.npl {padding-left: 0;}
.npr {padding-right: 0;}

.ui-corner-all {
  border-radius: 0;
}

@media (min-width: 0){
  body {
    font-family: 'Open Sans', sans-serif;
    .navbar {
      .navbar-header {
        background-color: #FFF;
        height: 60px;
        border-bottom: 1px solid #ccc;
      }
      .navbar-toggle {
        float: left;
        margin-top: 12px;
        .icon-bar {
          background-color: $color-base-0;
        }
      }
      .navbar-collapse {
        background-color: #FFF;
        ul {
          margin: 0 -15px;
          li {
            border-bottom: 1px solid #ccc;
          }
        }
      }
      a {
        &.navbar-brand {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          line-height: 60px;
          color: $color-base-0;
          padding: 0 15px;
        }
      }
    }
    section {
      &.home-dashboard {
        background-color: #F1F4F9;
        .dashboard-breadcrumb {
          margin-top: 60px;
          padding: 20px;
          background: #e9edf2;
          border-bottom: 1px solid #DEE2E8;
          h2 {
            font-size: 24px;
            font-weight: 300;
            color: #74767d;
            padding: 0;
            margin: 0 0 4px;
          }
          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            overflow: hidden;
            li {
              float: left;
              margin-right: 10px;
              color: $color-base-0;
              &:last-child {
                &:after {
                  display: none;
                }
              }
              &:after {
                float: right;
                margin-left: 10px;
                content: '/';
                color: $color-breadcrumb-active;
              }
              &.active {
                color: $color-breadcrumb-active;
              }
            }
            i {
              &.icon-users {
                font-size: 31px;
                color: $color-icons;
              }
            }
          }
        }
        main {
          &.main-wrapper {
            padding: 20px;
            .area-criar-usuarios {
              .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 100%;
              }
              .input-group {
                margin-bottom: 20px;
              }
            }
            .area-busca-usuarios {
              margin: 20px 0;
              overflow: hidden;
              button {
                &.btn-new-user {
                  display: block;
                  margin-top: 20px;
                }
              }
            }
            .ui-widget-content {
              border: 0;
            }
            .ui-widget-header {
              background-image: none;
              border: 0;
              padding: 20px 20px 0 20px;
              .ui-panel-title {
                display: block;
                font-size: 24px;
                font-weight: 300;
                color: #000;
                margin-bottom: 15px;
              }
            }
            table {
              display: block;
              background-color: #FFF;
              padding: 20px;
              margin-bottom: 20px;
              -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              thead {
                tr {
                  th {
                    font-size: 24px;
                    font-weight: 300;
                    color: #000;
                    margin-bottom: 15px;
                    border: 0;
                  }
                }
              }
              tfoot {
                tr {
                  td {
                    display: block;
                    font-size: 11px;
                    margin-top: 20px;
                  }
                }
              }
              tbody {
                tr {
                  border-bottom: 1px solid #E0E0E0;
                  td {
                    width: 50%;
                    padding: 10px;
                    i {
                      display: block;
                      text-align: center;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            #curve_chart {
              -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
              -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
              margin-bottom: 20px;
            }
            .dashboard-card {
              background-color: #FFF;
              padding: 20px;
              -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
              margin-bottom: 25px;
              strong {
                font-size: 28px;
                margin-bottom: 14px;
                color: #374051;
                font-weight: 300
              }
              i {
                float: right;
                font-size: 31px;
                color: #B0B0B0;
              }
              small {
                display: block;
                font-size: 13px;
                margin-bottom: 10px;
                color: #B0B0B0
              }
              .dashboard-progress-bar {
                height: 5px;
                width: 100%;
                background-color: #f5f5f5;
                .dashboard-progress {
                  position: absolute;
                  height: 5px;
                  &.dashboard-progress-var-0 {
                    background-color: $color-default;
                  }
                  &.dashboard-progress-var-1 {
                    background-color: #12AFCB;
                  }
                  &.dashboard-progress-var-2 {
                    background-color: #f6d433;
                  }
                  &.dashboard-progress-var-3 {
                    background-color: #f25656;
                  }
                }
              }
            }
          }
        }
      }
      &.login-dashboard {
        .area-logo {
          padding-top: 70px;
          h1 {
            font-family: 'Droid Sans', sans-serif;
            font-size: 24px;
            margin: 40px 0 10px -1px;
            font-weight: 600;
          }
          h2 {
            font-size: 14px;
            margin: 0 0 40px;
            font-weight: 400;
          }
        }
        .area-form {
          input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.3);
            background-color: transparent;
            margin-bottom: 20px;
          }
          button {
            border: 0;
            background-color: #2b384e;
            margin-top: 20px;
            width: 100%;
            a {
              display: block;
              padding: 10px 0;
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    section {
      &.home-dashboard {
        .dashboard-breadcrumb {
          margin-top: 0;
        }
        .menu-desktop {
          height: 100vh;
          width: 100%;
          background-color: #34425A;
          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
              &.inital-brand {
                display: block;
                text-align: center;
                background-color: white;
                height: 60px;
                padding-top: 3px;
                span {
                  &.logo-default {
                    background: url(../images/logo-fadigometro.png) 0 -38px;
                    background-size: 100%;
                    display: block;
                    width: 82px;
                    height: 21px;
                    margin: 14px auto;
                    padding-bottom: 0;
                  }
                }
                &:hover {
                  background-color: #FFF;
                }
              }
              i {
                display: block;
                padding: 25px 0 10px;
                color: #899dc1;
                text-align: center;
                cursor: pointer;
              }
              span {
                font-size: 13px;
                color: #899dc1;
                text-align: center;
                display: block;
                padding-bottom: 25px;
                cursor: pointer;
              }
              &.active,
              &:hover {
                background-color: #2b384e;
                i,
                span {
                  color: white;
                }
                &[data-value="cadastros"],
                &[data-value="escalas"] {
                  &:after {
                    color: white;
                  }
                }
              }
              &:hover {
                ul {
                  display: block;
                }
              }
              &[data-value="cadastros"],
              &[data-value="escalas"]{
                &:after {
                  font-family: 'Glyphicons Halflings', sans-serif;
                  position: absolute;
                  display: block;
                  content: "\e258";
                  color: #899dc1;
                  right: 8px;
                  margin-top: -70px;
                }
                a {
                  text-decoration: none;
                  color: #FFF;
                }
              }
              ul {
                display: none;
                position: absolute;
                margin-top: -92px;
                left: 8.2vw;
                z-index: 9999;
                background-color: rgba(43,56,78,0.9);
                min-height: 92px;
                width: 100px;
                li {
                  font-size: 11px;
                  color: white;
                  margin: 10px;
                  cursor: pointer;
                  &:hover {
                    text-decoration: underline;
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
        .sub-menu {
          height: 60px;
          width: 100%;
          background-color: #FFF;
          ul {
            overflow: hidden;
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
              float: left;
              line-height: 60px;
              font-size: 20px;
              margin: 0 20px;
              i {
                cursor: pointer;
                &:hover {
                  color: #22BAA0;
                }
              }
              &.exit {
                float: right;
              }
            }
          }
        }
        main {
          &.main-wrapper {
            width: 890px;
            #curve_chart {
              height: 459px;
            }
          }
        }
      }
      &.login-dashboard {
        .area-logo,
        .area-form {
          float: left;
          width: 50%;
          height: 100vh;
          box-sizing: border-box;
        }
        .area-logo {
          background-color: #34425A;
          margin-left: -15px;
          h1, h2 {
            text-align: center;
            color: #FFF;
          }
          h1 {
            font-size: 30px;
          }
          h2 {
            font-size: 16px;
          }
        }
        .area-form {
          padding-top: 200px;
          input {
            position: relative;
            width: 40%;
            margin-left: 30%;
            margin-right: 30%;
          }
          button {
            width: 40%;
            margin-left: 30%;
            margin-right: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    section {
      &.home-dashboard {
        main {
          &.main-wrapper {
            width: 1100px;
            #curve_chart {
              height: 404px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  body {
    section {
      &.home-dashboard {
        main {
          &.main-wrapper {
            width: 100%;
            #curve_chart {
              height: 370px;
            }
          }
        }
      }
    }
  }
}